html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: Haettenschweiler, monospace, tahoma, georgia, verdana, arial;
  background: #f2f0f0;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.linkButton {
  background: linear-gradient(45deg, red 50%, black 50%);
  text-decoration: none;
  color: white;
  padding: 0.4rem;
}

/* nav */
nav {
  display: flex;
  place-content: center;
  justify-content: space-evenly;
  width: 100%;
  background: orangered;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 200%;
  font-weight: 800;
}
nav a {
  padding: 1rem;
}
nav a:nth-child(3) {
  display: none;
}
/* nav */

/* Recipes section */
.recipes {
  display: flex;
  place-items: center;
  flex-direction: column;
  font-size: 2rem;
  padding: 2rem;
  margin-top: 4rem;
}
.top-texts {
  text-align: center;
}

.box-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
.aligned-boxes {
  height: auto;
  width: 100%;
  max-width: 33rem;
  padding: 1.2rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.aligned-boxes:hover {
  cursor: pointer;
}
.aligned-boxes .img-container {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.img-container img {
  height: auto;
  width: 100%;
  max-width: 100%;
}
.texts .ingredientsNames {
  word-wrap: break-word;
}

input[name="searchBox"]:focus {
  outline: 1px solid orangered;
}
input[name="searchBox"] {
  margin: 1rem auto;
  padding: 1rem;
  font-size: 1.8rem;
}
/* Recipes section */

/* food order section */
.food-order {
  display: flex;
  place-items: center;
  flex-direction: column;
  font-size: 2rem;
  padding: 2rem;
  margin-top: 6rem;
  gap: 1.5rem;
}
/* food order section */

/* contacts section */
.contacts {
  display: flex;
  place-items: center;
  flex-direction: column-reverse;
  font-size: 2rem;
  padding: 2rem;
  margin-top: 6rem;
  gap: 1.5rem;
}
.contacts .texts-container {
  display: inherit;
  flex-direction: column;
  place-items: center;
  place-content: center;
  max-width: 80%;
}
/* contacts section */

/* visit us section */
.visit-us {
  display: flex;
  place-items: center;
  flex-direction: column;
  font-size: 2rem;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/food/Project Cover4.png") no-repeat center;
  color: white;
}
/* visit us section */
/* footer section */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5rem;
  font-size: 1.8rem;
}
footer h2 {
  padding: 0;
  margin: 0;
}
.linkButton {
  background: linear-gradient(45deg, red 50%, black 50%);
  text-decoration: none;
  color: white;
  padding: 0.4rem;
}
/* footer section */

/***** medium devices *****/
@media screen and (min-width: 768px) {
  nav {
    padding: 0.5rem;
  }
  /* food order section */
  .food-order .img-container img {
    display: none;
  }
  /* food order section */

  /* recipes section */
  .box-container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* 👇 this class adds up when an individual box is appended */
  .individual-box-container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* 👇 this class adds up when an individual box is appended */
  .individualOne {
    grid-column: 3/3;
    max-width: 50rem;
  }
  /* recipes section */
}
/***** medium devices *****/

/***** large devices *****/
@media screen and (min-width: 1268px) {
  /* food order section */
  .food-order {
    flex-direction: row;
    margin: 5rem auto auto auto;
    max-width: 90vw;
    place-content: center;
  }
  .food-order .img-container img {
    max-width: 50rem;
    display: inline;
  }
  /* food order section */

  /* recipes section */
  div.box-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .individualOne {
    grid-column: 2/3;
  }
  /* recipes section */
}
/***** large devices ******/


/* 
collected loader animation html & css from this website: https://loading.io/css/
css below
*/

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid orangered;
  border-color: orangered transparent orangered transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
/* loader animation */