body {
  font-family: monospace, tahoma, georgia, verdana, arial;
  background: #f2f0f0;
}
section {
  margin-bottom: 5.6rem;
}
a {
  text-decoration: none;
  background: linear-gradient(50deg, crimson 51%, black 10%);
  color: #eee;
  padding: 0.5rem;
  font-size: 1rem;
}

/*************** CSS for Nav **************/
nav {
  background: black;
  margin-top: -.6rem;
  padding: .5rem;
}
nav a {
  background-image: linear-gradient(170deg, red 30%, black 40%);
  padding: 1rem;
  display: block;
  border: 2px solid black;
  font-size: 1.2rem;
}

/**********  CSS for 'food-order' section  *************/

.food-order {
  width: 60%;
  margin: 3rem 16rem auto auto;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
}
section.food-order span {
  color: orangered;
}
.texts-container {
  width: 50%;
  padding: 0 8rem 0 0;
}
.img-container {
  width: 50%;
}
.img-container img {
  width: 60%;
}

/*********** CSS for second 'contact' section ************/

.contacts {
  width: 100%;
  margin: 3rem auto;

  background-image: url(images/shapes/Frame\ 58.jpg);
}
.container {
  display: flex;
  font-size: 1.5rem;
  margin: auto;
  width: 60%;
  height: 30vh;
}
.container .img-container {
  margin-top: 1rem;
}

/******************* CSS for 'recipies' section *******************/

.top-texts h1,
.top-texts p {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 3rem;
}
.box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  margin: auto;
}
div.aligned-boxes p {
  font-size: 1rem;
}
div.aligned-boxes {
  width: 250px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 1px 1px 22px -3px;
  font-size: 1rem;
}
.aligned-boxes .img-container {
  width: 100%;
}
.aligned-boxes .img-container img {
  width: 100%;
  height: auto;
}

/* CSS for 'visit us" section */
section.visit-us {
  background-image: url(images/food/Project\ Cover4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-bottom: 2rem;
}
section.visit-us h1 {
  font-family: Haettenschweiler;
}

/* CSS for footer */
footer {
  background-color: black;
  color: white;
  width: 100%;
  padding: 6rem 0rem;
}
.footer-texts {
  text-align: center;
}
footer h2 span {
  color: orangered;
}
footer h2 span.gray {
  color: gray;
}
footer a {
  background-image: linear-gradient(50deg, black 50%, red 50%);
}
