:root {
  --bright-color: hsl(0, 100%, 30%);
  --brighter-color: hsl(0, 100%, 40%);
  --brightest-color: hsl(0, 100%, 60%);
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: monospace, tahoma, georgia, verdana, arial;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: initial;
}
a:not(.linkButton) {
  color: initial;
}
.linkButton {
  background: linear-gradient(
    45deg,
    var(--brightest-color) 20%,
    var(--bright-color) 40%,
    var(--brighter-color) 40%
  );
  text-decoration: none;
  padding: 0.4rem;
  transition-duration: 0.5s;
}
.linkButton:hover {
  box-shadow: 0px 0px 4px 4px rgba(234, 40, 40, 0.5);
}

/* nav */
nav {
  display: flex;
  place-content: center;
  justify-content: space-evenly;
  max-width: 100%;
  width: 100%;
  background: linear-gradient(
    45deg,
    var(--brightest-color),
    var(--bright-color),
    var(--brightest-color)
  );
  background-size: 400% 400%;
  color: var(--bright-color);
  position: fixed;
  top: 0;
  left: 0;
  font-size: 2rem;
  font-weight: 800;
  z-index: 1;
  animation: bgColorMove 10s ease-in-out infinite;
}
nav a {
  padding: 1rem;
}
nav a:hover {
  color: white;
}
nav a:nth-child(3) {
  display: none;
}
/* nav */

/* Recipes section */
.recipes {
  display: flex;
  place-items: center;
  flex-direction: column;
  font-size: 2rem;
  padding: 2rem;
  margin-top: 4rem;
}
.top-texts {
  text-align: center;
}

.box-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
.aligned-boxes {
  height: auto;
  width: clamp(300px, 100%, 700px);
  padding: 1.5rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.aligned-boxes:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px rgba(222, 44, 44, 0.5);
  transform: scale(1.01);
  transition-duration: 1s;
}
.img-container img {
  width: clamp(300px, 100%, 700px);
}
.texts .ingredientsNames {
  word-wrap: break-word;
}

input[name="searchBox"]:focus {
  outline: 1px solid orangered;
}
input[name="searchBox"] {
  margin: 1rem auto;
  padding: 1rem;
  font-size: 1.8rem;
}
/* Recipes section */

/* food order section */
.food-order {
  display: flex;
  place-items: center;
  flex-direction: column;
  font-size: 2rem;
  padding: 2rem;
  margin-top: 6rem;
  gap: 1.5rem;
}

.food-order .img-container {
  width: clamp(300px, 100%, 600px);
  text-align: center;
  margin: auto;
}
/* food order section */

/* contacts section */
.contacts {
  display: flex;
  place-items: center;
  flex-direction: column-reverse;
  font-size: 2rem;
  padding: 2rem;
  margin-top: 6rem;
  gap: 1.5rem;
}
.contacts .img-container img {
  border-radius: 100%;
}
.contacts .texts-container {
  flex-direction: column;
  place-items: center;
  /* max-width: 80%; */
  width: clamp(300px, 100%, 700px);
  text-wrap: balance;
  text-align: center;
}
/* contacts section */

/* visit us section */
.visit-us {
  display: flex;
  place-items: center;
  flex-direction: column;
  font-size: 2rem;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/food/Project Cover4.png") no-repeat center;
  color: white;
}
/* visit us section */

/* footer section */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5rem;
  font-size: 1.8rem;
}
footer h2 {
  padding: 0;
  margin: 0;
}
/* footer section */

/***** medium devices *****/
@media screen and (min-width: 768px) {
  nav {
    padding: 0.5rem;
  }
  /* food order section */
  .food-order .img-container {
    width: clamp(600px);
  }
  .food-order .img-container img {
    height: fit-content;
    object-fit: contain;
  }

  /* food order section */

  /* recipes section */
  .box-container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* 👇 this class adds up when an individual box is appended */
  .individual-box-container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* 👇 this class adds up when an individual box is appended */
  .individualOne {
    grid-column: 3/3;
    /* max-width: 50rem; */
    width: clamp(50rem, 100%, 400px);
  }
  .aligned-boxes.individualOne {
    transform: scale(1);
  }
  /* recipes section */
}
/***** medium devices *****/

/***** large devices *****/
@media screen and (min-width: 1268px) {
  /* food order section */
  .food-order {
    width: clamp(600px, 100%, 1200px);
    flex-direction: row;
    margin: 5rem auto auto auto;
    place-content: unset;
    justify-content: center;
    align-items: center;
  }
  .food-order .img-container img {
    max-width: 50rem;
    display: inline;
  }
  /* food order section */

  /* contacts section */
  .contacts {
    align-items: center;
    place-content: unset;
    justify-content: center;
    width: clamp(600px, 100%, 1200px);
    font-size: 2rem;
    padding: 2rem;
    margin-top: 6rem auto auto auto;
    gap: 1.5rem;
    margin: auto;
    flex-direction: row;
  }
  .contacts .img-container img {
    border-radius: 100%;
  }
  .contacts .texts-container {
    flex-direction: column;
    place-items: center;

    width: clamp(300px, 100%, 700px);
    text-wrap: balance;
    text-align: center;
  }
  /* contacts section */

  /* recipes section */
  div.box-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .individualOne {
    grid-column: 2/3;
  }
  /* recipes section */
}
/***** large devices ******/

/* 
collected loader animation html & css from this website: https://loading.io/css/
css below
👇👇👇👇👇 "hourglass"
*/
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid orangered;
  border-color: orangered transparent orangered transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
/* loader animation above */

@keyframes bgColorMove {
  from {
    background-position: 0% 100%;
  }

  50% {
    background-position: 150% 0%;
  }

  to {
    background-position: 0% 100%;
  }
}
