html {
  scroll-behavior: smooth;
}
body {
  font-family: Haettenschweiler, monospace, tahoma, georgia, verdana, arial;
  background: #f2f0f0;
  margin: 0;
}
section {
  margin-bottom: 5.6rem;
}
a {
  text-decoration: none;
}
.linkButton {
  text-decoration: none;
  background: linear-gradient(50deg, crimson 51%, black 10%);
  color: #eee;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
}

/*************** CSS for Nav **************/
nav {
  display: flex;
  margin: auto;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  place-content: center;
  background: orangered;
  opacity: 0.8;
}
nav a {
  /* background-image: linear-gradient(170deg, red 30%, black 40%); */
  padding: 1rem;
  display: block;
  font-size: 1.2rem;
  margin-top: -0.6rem;
  padding: 1.5rem;
  color: black;
}

/**********  CSS for 'food-order' section  *************/

.food-order {
  width: 60%;
  margin: 6rem 16rem auto auto;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
}
section.food-order span {
  color: orangered;
}
.texts-container {
  width: 50%;
  padding: 0 8rem 0 0;
}
.img-container {
  width: 50%;
}
.img-container img {
  width: 60%;
}

/*********** CSS for second 'contact' section ************/

.contacts {
  width: 100%;
  margin: 3rem auto;
  background-image: url(images/shapes/Frame\ 58.jpg);
}
.container {
  display: flex;
  font-size: 1.5rem;
  margin: auto;
  width: 60%;
  height: 30vh;
}
.container .img-container {
  margin-top: 1rem;
}

/******************* CSS for 'recipes' section *******************/
.Recipes {
  margin-top: 5rem;
}

.top-texts h1 {
  font-size: 2rem;
  text-align: center;
}
.top-texts p {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 3rem;
}
.box-container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  grid-area: none;
}
div.aligned-boxes p {
  font-size: 1rem;
}
div.aligned-boxes {
  width: 16rem;
  border-radius: 1.3rem;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  box-shadow: 1px 1px 22px -3px;
}
.aligned-boxes .img-container {
  width: 100%;
}
.aligned-boxes .img-container img {
  width: 100%;
  height: auto;
}

.searchTextBox {
  margin: 2.5rem auto;
  display: flex;
  padding: 0.5rem;
  font-size: 1.5rem;
  transition: 100ms;
}
input.searchTextBox:focus {
  outline: 3px solid #333;
}

/* CSS for 'visit us" section */
section.visit-us {
  background-image: url(images/food/Project\ Cover4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-bottom: 2rem;
}
section.visit-us h1 {
  font-family: Haettenschweiler;
}

/* CSS for footer */
footer {
  background-color: black;
  color: white;
  width: 100%;
  padding: 6rem 0rem;
}
.footer-texts {
  text-align: center;
}
footer h2 span {
  color: orangered;
}
footer h2 span.gray {
  color: gray;
}
footer a {
  background-image: linear-gradient(50deg, black 50%, red 50%);
  color: white;
}
